<div class="container">
    <div class="row">
        <div
            class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"
        >
            <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an password address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        ngModel
                        name="email"
                        email
                        #email="ngModel"
                        required
                    />
                </div>
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                <div class="form-group">
                    <label for="subscription">Select a subscription</label>
                    <select
                        name="subscription"
                        id="subscription"
                        class="form-control"
                        [ngModel]="defaultSubscription"
                    >
                        <option value="basic">Basic</option>
                        <option value="advanced">Advanced</option>
                        <option value="pro">Pro</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="text"
                        id="password"
                        class="form-control"
                        ngModel
                        name="password"
                        password
                        #password="ngModel"
                        required
                    />
                </div>
                <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
                <button 
                    class="btn btn-default" 
                    type="submit"
                    [disabled]="!f.valid">Submit</button>
            </form>
        </div>
    </div>
</div>
<hr>
<div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-offset-1">
        <h3>Your Data</h3>
        <p>Email: {{ data.email }}</p>
        <p>Subscription: {{ data.subscription }}</p>
        <p>Password: {{ data.password }}</p>
    </div>
</div>
